@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 207.9997 100.1439% 97.0541%;
    --foreground: 216.9230 19.1072% 26.6630%;

    --card: 300 50% 100.0000%;
    --card-foreground: 216.9230 19.1072% 26.6630%;

    --popover: 300 50% 100.0000%;
    --popover-foreground: 216.9230 19.1072% 26.6630%;

    --primary: 142 70% 28%;
    --primary-foreground: 300 50% 100.0000%;

    --secondary: 204.0003 93.5907% 93.7231%;
    --secondary-foreground: 215.0000 13.7872% 34.1159%;

    --muted: 220.0000 14.4421% 95.8902%;
    --muted-foreground: 220.0003 8.9509% 46.0786%;

    --accent: 149 60% 38%;
    --accent-foreground: 216.9230 19.1072% 26.6630%;

    --destructive: 0.0029 84.2066% 60.1920%;
    --destructive-foreground: 300 50% 100.0000%;

    --border: 220.0000 13.0150% 90.9817%;
    --input: 220.0000 13.0150% 90.9817%;
    --ring: 142 70% 28%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 216.9230 19.1072% 26.6630%;

    --sidebar-primary: 142 70% 28%;

    --sidebar-primary-foreground: 300 50% 100.0000%;

    --sidebar-accent: 149 60% 38%;

    --sidebar-accent-foreground: 216.9230 19.1072% 26.6630%;

    --sidebar-border: 220.0000 13.0150% 90.9817%;

    --sidebar-ring: 142 70% 28%;

    --chart-1: 142 70% 28%;

    --chart-2: 160.1282 84.1733% 39.3945%;

    --chart-3: 161.3662 93.3918% 30.4180%;

    --chart-4: 162.9166 93.3500% 24.3358%;

    --chart-5: 163.1561 88.2586% 19.7900%;

    --sidebar: 204.0003 93.5907% 93.7231%;

    --font-sans: DM Sans, sans-serif;

    --font-serif: Lora, serif;

    --font-mono: IBM Plex Mono, monospace;

    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);

    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);

    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);

    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);

    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);

    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;

    --shadow-x: 0px;

    --shadow-y: 4px;

    --shadow-blur: 8px;

    --shadow-spread: -1px;

    --shadow-opacity: 0.1;

    --shadow-color: hsl(0 0% 0%);
  }

  .dark {
    --background: 222.2208 47.3384% 11.1771%;
    --foreground: 216.0000 12.1448% 83.9217%;

    --card: 217.2409 32.5439% 17.4498%;
    --card-foreground: 216.0000 12.1448% 83.9217%;

    --popover: 217.2409 32.5439% 17.4498%;
    --popover-foreground: 216.0000 12.1448% 83.9217%;

    --primary: 158.1165 64.3701% 51.5575%;
    --primary-foreground: 222.2208 47.3384% 11.1771%;

    --secondary: 217.7780 23.0925% 22.9417%;
    --secondary-foreground: 239.9988 5.0128% 64.8961%;

    --muted: 217.1426 29.5484% 13.9237%;
    --muted-foreground: 220.0003 8.9509% 46.0786%;

    --accent: 216.9230 19.1072% 26.6630%;
    --accent-foreground: 239.9988 5.0128% 64.8961%;

    --destructive: 0.0029 84.2066% 60.1920%;
    --destructive-foreground: 222.2208 47.3384% 11.1771%;

    --border: 215.0000 13.7872% 34.1159%;
    --input: 215.0000 13.7872% 34.1159%;
    --ring: 158.1165 64.3701% 51.5575%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 216.0000 12.1448% 83.9217%;
    --sidebar-primary: 158.1165 64.3701% 51.5575%;
    --sidebar-primary-foreground: 222.2208 47.3384% 11.1771%;
    --sidebar-accent: 216.9230 19.1072% 26.6630%;
    --sidebar-accent-foreground: 239.9988 5.0128% 64.8961%;
    --sidebar-border: 215.0000 13.7872% 34.1159%;
    --sidebar-ring: 158.1165 64.3701% 51.5575%;
    --chart-1: 158.1165 64.3701% 51.5575%;
    --chart-2: 172.4526 65.9901% 50.4046%;
    --chart-3: 142.0873 70.5712% 45.2882%;
    --chart-4: 160.1282 84.1733% 39.3945%;
    --chart-5: 161.3662 93.3918% 30.4180%;
    --sidebar: 217.2409 32.5439% 17.4498%;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
    --font-sans: DM Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -1px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
